---
import { NoteCard } from "./NoteCard.tsx";
---

<main class="flex flex-col min-h-screen pt-12 mx-auto gap-4">
  <h1 class="text-accent text-4xl font-bold">
    Este componente pertence al home
  </h1>
  <section>
    <p class="text-secondary text-lg">Prueba 2</p>
  </section>
  <NoteCard />
</main>
