---
import Layout from "@layout/Layout.astro";
import AdminLogin from "@comp/Admin/AdminLogin.tsx";
---

<Layout>
  <main class="flex justify-center">
    <h1 class="text-3xl font-bold">Admin - Iniciar sesión</h1>

    <body>
      <AdminLogin client:load />
    </body>
  </main>
</Layout>
